VITE_GEMINI_API_KEY=""

VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN="aura-sales-27804.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="aura-sales-27804"
VITE_FIREBASE_STORAGE_BUCKET="aura-sales-27804.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="747132871644"
VITE_FIREBASE_APP_ID="1:747132871644:web:90d57af13c58b0d5c1e519"
VITE_FIREBASE_MEASUREMENT_ID="G-81V88WXFX9"
VITE_FIREBASE_DATABASE_URL="https://aura-sales-27804-default-rtdb.firebaseio.com"
VITE_SCHEDULE_MEETING_URL=https://https://amplik-grn0a0cmv-navneet-rajs-projects-95e42971.vercel.app/api/schedule-meeting
